/*SPINNER LOADER
*/
.cursor-pointer{cursor:pointer !important;}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 3px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Centrado de recapcha */
.text-xs-center {
  text-align: center;
}

.g-recaptcha {
  display: inline-block;
  width: 100%;
}

.g-recaptcha > div {
  margin: 10px auto !important;
  text-align: center;
  width: auto !important;
  height: auto !important;
 }
 /*estilos para la tabla*/
 .tcabecera {
  background-color: #254666 !important;
  color: white;
}
table>tbody>tr>td {
  vertical-align: middle !important;
}